*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: wheat ;
}

.nav-item a{
  color: black;
font-weight: 500;
}

#islam{
    font-size: 40px;
    color: blue;
    font-weight: 500px;
}
#navbarSupportedContent{
    padding-left: 450px;
    margin-bottom: 10px;
}
#discover{
    font-size: 40px;
    font-weight: 600;
    color: black;
}
#carousel{
    display: flex;
    padding-left: 100px;
    /* margin-bottom: 100px; */
}
#our{
    font-size: 15px;
    font-weight: lighter;
    padding-top: 20px;
}
.Us{
    text-align: center;
    font-weight: 500px;
}

